<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Online Judge</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/problem">Problem Set</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAnonymous()">
                                <a class="nav-link" href="/members/login">Login</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAnonymous()">
                                <a class="nav-link" href="/members/register">Sign-up</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                <a class="nav-link" href="/admin/problem/register">문제 추가</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link" href="/members/logout">Logout</a>
                            </li>
                            <li class="nav-item text-right" sec:authorize="isAuthenticated()">
                                <a class="nav-link" href="#" th:text="|${#authentication.name}님 환영합니다|"></a>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
    </div>
</html>