<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">
    <div layout:fragment="content">
        <table class="table" border="1">
            <thead>
            <tr class="table-secondary">
                <td>채점 번호</td>
                <td>문제 번호</td>
                <td>사용자</td>
                <td>언어</td>
                <td>채점 현황</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="statusDto, status: ${statusDtoList}">
                    <td th:text="${statusDto.id}"></td>
                    <td th:text="${statusDto.problemId}"></td>
                    <td th:text="${statusDto.memberEmail}"></td>
                    <td th:text="${statusDto.language}"></td>
                    <td th:text="${statusDto.statusType}"></td>
                </tr>
            </tbody>
    </div>
</html>