<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <h2 th:text="|${problemDto.id}. ${problemDto.taskName}|"></h2>
    <hr>
    <h6 th:text="|Time Limit: ${problemDto.timeLimit} sec / Memory Limit: ${problemDto.memoryLimit} MB|"></h6>
    <br>
    <br>
    <h4>문제 설명</h4>
    <br>
    <pre th:text="|${problemDto.problemStatement}|"></pre>
    <br>
    <br>
    <h4 th:if="${problemDto.problemConstraint != null}">제약사항</h4>
    <p th:text="|${problemDto.problemConstraint}|"></p>
    <hr>
    <br>
    <h4>Sample</h4>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
            <th class="col-md-6">Input</th>
            <th class="col-md-6">Output</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sample : ${problemDto.sampleCases}">
                <td th:text="${sample.sampleInput}"></td>
                <td th:text="${sample.sampleOutput}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/submit/{id}(id=${problemDto.id})}" type="button" class="btn btn-outline-secondary">제출</a>
</div>
</html>