<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <h2 th:text="|${problemDetailDto.id}. ${problemDetailDto.taskName}|"></h2>
    <hr>
    <h6 th:text="|Time Limit: ${problemDetailDto.timeLimit} sec / Memory Limit: ${problemDetailDto.memoryLimit} MB|"></h6>
    <br>
    <br>
    <h4>문제 설명</h4>
    <p th:text="|${problemDetailDto.problemStatement}|"></p>
    <br>
    <br>
    <h4 th:if="${problemDetailDto.problemConstraint != null}">제약사항</h4>
    <p th:text="|${problemDetailDto.problemConstraint}|"></p>
    <hr>
    <br>
    <h4>Sample</h4>
    <div class="container p-3 bg-secondary text-white">
        <div class="row">
            <div class="col">
                Input Data
            </div>
            <div class="col">
                Output Data
            </div>
        </div>
    </div>
    <tr th:each="sample : ${problemDetailDto.sampleCaseDtoList}">
        <div class="container p-3 border border-secondary">
            <div class="row">
                <div th:text="${sample.sampleInput}" class="col">
                    Column
                </div>
                <div th:text="${sample.sampleOutput}" class="col">
                    Column
                </div>
            </div>
        </div>
    </tr>
<!--    <h4>Sample Input</h4>-->
<!--    <p th:text="|${problemDto.sampleInput}|"></p>-->
<!--    <br>-->
<!--    <h4>Sample Output</h4>-->
<!--    <p th:text="|${problemDto.sampleOutput}|"></p>-->
<!--    <br>-->
    <a th:href="@{/submit/{id}(id=${problemDetailDto.id})}" type="button" class="btn btn-outline-secondary">제출</a>
</div>
</html>